.text-tab-stage {
  margin: 0 10px;
}

.card-content {
  height: 500px;
  margin: 2px;
}

.card-content .nav {
  border: 1px solid #337ab7;
  border-radius: 5px;
  margin-right: 5px;
}

.space-h-2 {
  margin: 0 2px;
}

.space-h-5 {
  margin: 0 5px;
}

.space-h-10 {
  margin: 0 10px;
}

.space-v-b-10 {
  margin-bottom: 10px;
}

.font-header {
  font-size: 20px;
}

.card-header {
  line-height: 36px;
}

.text-small {
  font-size: 10px;
  color: gray;
}

.pull-center {
  text-align: center;
}

.card-dropzone {
/*  border: 3px dashed lightgray;
  height: 50px;
  width: 100%;*/
}

.text-dropzone {
  color: gray;
  text-align: center;
  padding-top: 12px;
}