.text-tab-stage {
  margin: 0 10px;
}

.card-content {
  height: 500px;
  margin: 2px;
}

.card-content .nav {
  border: 1px solid #337ab7;
  border-radius: 5px;
  margin-right: 5px;
}

.space-h-2 {
  margin: 0 2px;
}
